/* Navbar container */
.navbar {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  height: 9%; /* Adjust height for responsiveness */
  background-color: hsl(18, 32%, 40%);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 91.5%;
  background-color: #473329d5; /* Brown color with 50% opacity */
  z-index: 999; /* Ensure it appears above other content */
}

.popup-header {
  display: flex;
  width: 100;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  margin-bottom: 1%;
  margin-top: 1%;
}

.popup-title {
  flex-grow: 1;
  width: 100;
  text-align: center;
  font-size: 1.1rem;
  color: whitesmoke;
  margin: 0; /* Remove margin for perfect centering */
  text-shadow:rgba(0, 0, 0, 0.1); /* Add shadow to the text */
}

.close-button-map {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.close-button-map img {
  display: block;
}

.close-button-contact {
  position: absolute;
  top: 10px;      /* Position the button 10px from the top */
  right: 10px;    /* Position the button 10px from the right */
  background: none;
  border: none;
  cursor: pointer;
}

.close-button-contact img {
  display: block;
}

.close-button-rsvp {
  position: absolute;
  top: 10px;      /* Position the button 10px from the top */
  right: 10px;    /* Position the button 10px from the right */
  background: none;
  border: none;
  cursor: pointer;
}

.close-button-rsvp img {
  display: block;
}

.x-sign {
  font-weight: bold;
  color: white;
  font-size:x-large;
}

.close-icon {
  width: 20px;   /* Adjust the size of the icon */
  height: 20px;
}

.close-button-comment {
  position: absolute;
  top: 10px;      /* Position the button 10px from the top */
  right: 10px;    /* Position the button 10px from the right */
  background: none;
  border: none;
  cursor: pointer;
}

.close-button-comment img {
  display: block;
}

.inside-box{
  margin-top: 6%;
}

.guide-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #855845;
  height: 5% !important;
  width: 100%; /* Make it full width for mobile */
  max-width: 100%; /* Keep it responsive on larger screens */
  box-sizing: border-box;
}

.logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}


/* Images inside the buttons */
.logo-image {
  width: 24%; /* Fixed size for consistency across devices */
  height: auto;
}

.logo-container {
  display: flex;
  flex-direction: column; /* Stack the logo and text vertically */
  align-items: center; /* Center the logo and text horizontally */
}

.logo-text {
  font-size: 9px; /* Adjust font size */
  text-align: center; /* Center the text under the logo */
  color: white;
}

.logo-container.active .logo-text {
  font-weight: bold; /* Make the text bold when active */
  font-size: 11.3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title{
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 0%;
  margin-right: 5%;
  text-align: center;
  color: whitesmoke;
  font-size: medium;
}

.map-popup {
  position: absolute;
  bottom: 180px;
  background-color: #895d4a;
  border: 1px solid #3a3a3a;
  color: white;
  border-radius: 7px;
  padding: 0 1% 5% 5%;
  box-shadow: 0 2px 8px #52473e;
  justify-content: center;
  max-width: 100%; /* Ensure popups are not too wide on mobile */
  display: flex;
  flex-direction: column;
}

.map-links-container {
  margin-top: 12%; /* Adds space above the map links */
  display: flex; /* Align the links horizontally */
  align-items: center;
  flex-direction: row;
  width: 95%;
}

.map-list {
  display: flex;
}

.logo-map-image {
  width: 13%; /* Set the size of the icons */
  height: auto;
  margin-right: 3%;
  vertical-align: bottom;
}

.map-address{
  width: 95%;
  font-size: 0.75rem; 
  text-align: justify;
  margin-top: 3.5%;
}

.map-image {
  width: 95%;
  border-radius: 7px;
  margin-top: 7%;
}

.map-list a {
  font-size: 0.8rem; 
  color: inherit; /* Keeps the text color */
  font-weight:bold;
}

.contacts-popup{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #895d4a;
  border: 1px solid #3f271c;
  color: white;
  border-radius: 7px;
  padding: 0 5% 2% 2%;
  box-shadow: 0 2px 8px #52473e;
  max-width: 100%; /* Ensure popups are not too wide on mobile */
  text-align:right; /* Align text to the left */
  z-index: 1002;
}

.contacts-popup p {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically aligns icons with the text */
  margin: 5px 0; /* Space between entries */
}

.contact-entry {
  display: flex;
  align-items: center;
  padding: 0% 3% 5% 8%;
}

.contacts-popup .name-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contacts-popup .name {
  font-size: 0.87rem; /* Adjust the font size */
  font-weight: bold; /* Bold for Baini */
}

.contacts-popup .gelaran {
  font-size: 0.8rem; /* Slightly smaller font size for Ummi */
  font-weight: 300; /* Thinner weight */
  font-style: italic; /* Italic for Ummi */
}

.contacts-popup .contact-button {
  background-color: transparent; /* Ensure the button background is transparent */
  border: none; /* Remove any borders */
  cursor: pointer; /* Make the pointer cursor appear on hover */
  margin-left: 35px; /* Space between icons */
  font-size: 1.5rem; /* Adjust the icon size */
}

.contacts-popup .phone .contact-button i {
  color: white; /* Ensure the icon color is white or match your design */
}

.contacts-popup .phone {
  display: flex;
  justify-content: flex-end; /* Aligns buttons to the right */
  align-items: center;
}

/* Popup styles */
.comment-popup {
  position: absolute;
  bottom: 60px;
  background-color: #895d4a;
  border: 1px solid #3f271c;
  border-radius: 8px;
  padding: 0 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 8px #52473e;
  width: 90%; /* Ensure popups are not too wide on mobile */
  z-index: 1002;
}

.submit-button {
  padding: 10px;
  margin-top: 35px;
  border-radius: 4px;
  border: 1px solid #463e3b;
  background-color: #5e3f30; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  font-weight: bold;
  font-size: 0.82rem;
}

.comment-popup input {
  padding: 5px;
  margin-top: 0.5%;
  border-radius: 4px;
  border: 1px solid #6b3f26;
  background-color: white; /* Button background color */
  color: black; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 0.75rem;
  height: 15px;
}

.comment-popup textarea {
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #6b3f26;
  background-color: white; /* Button background color */
  color: black; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 0.75rem;
  height: 100px; /* Adjust this value to make the textarea taller */
}

/* Adjustments for the RSVP form */
.comment-popup form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comment-status {
  font-size: 0.8rem; /* Adjust font size as needed */
  color: white; /* Green color for success message */
  text-align: center; /* Center-align the text */
  margin-top: 20px; /* Add some space above the message */
  padding: 5px; /* Add some padding around the message */
}

/* Popup styles */
.rsvp-popup {
  position: absolute;
  bottom: 60px;
  background-color: #895d4a;
  border: 1px solid #3f271c;
  border-radius: 8px;
  padding: 0 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 8px #52473e;
  max-width: 90%; /* Ensure popups are not too wide on mobile */
  z-index: 1002;
  display: flex;
  flex-direction: column;
}

.rsvp-popup input {
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #6b3f26;
  background-color: white; /* Button background color */
  color: black; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 0.75rem;
}

/* Adjustments for the RSVP form */
.rsvp-popup form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rsvp-popup select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  max-height: 150px; /* Adjust this height as needed */
  overflow-y: auto; /* Add vertical scroll if content exceeds max-height */
  font-size: 0.75rem;
}

select[name="bilanganPax"]{
  margin-bottom: 15px;
}

.rsvp-popup select option:disabled {
  color: #6c6c6c; /* Grey color for the placeholder */
}

/* Style all other options */
.rsvp-popup select option:not(:disabled) {
  color: #000000; /* Black color for other options */
}


.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

/* Optional: Styling for scrollbars */
.rsvp-popup select::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.rsvp-popup select::-webkit-scrollbar-thumb {
  background-color: #6b3f26; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.rsvp-popup select::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color of the scrollbar track */
}

.submission-status {
  font-size: 0.8rem; /* Adjust font size as needed */
  color: white; /* Green color for success message */
  text-align: center; /* Center-align the text */
  margin-top: 20px; /* Add some space above the message */
  padding: 5px; /* Add some padding around the message */
}

@media (max-width: 1024px) {

  .guide-box {
    flex-direction: row; /* Change to vertical layout */
  }

  .logo-image {
    width: 40%;
  }

  .contacts-popup, .map-popup, .rsvp-popup, .comment-popup{
    bottom: 110%;
    width: 90%;
    z-index: 1001;
  }
}